
html, body {
  background: #333;
}

#video {
  border: 1px solid black;
  box-shadow: 2px 2px 3px black;
  width:100%;
  height:100%;
}

#photo {
  border: 1px solid black;
  box-shadow: 2px 2px 3px black;
  width:150px;
  height:150px;
  position:absolute;
  top: 1em;
  right: 1em;
}

#canvas {
  display:none;
}


#startbutton {
  position:absolute;
  bottom: 1em;
  width: 100%;
  background: none;
  text-align: center;
  display:block;
  border: none;
  margin: 0;
  padding: 0;
}

#startbutton:focus {
    outline: none;
    border: none;
}


#startbutton img{
  display: inline-block;
  border: white 1px solid;
  border-radius:16px;
  background: rgba(255, 255, 255, 0.5);
}

.contentarea {
  font-size: 16px;
  font-family: "Lucida Grande", "Arial", sans-serif;
  position: relative;
  height: 100vh;
  width: 100vw;
}

#result{
  z-index: 1;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0;
  text-align: center;
  left:0;
  right:0;
  background: rgba(255,255,255, 0.5)
}

#noCam {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    color: white;
    font-size: 150%;
    background: #333;
}
